application_name: rabbyMQLoggerDaemon
application_id: rmgld

admin_user_id: my.user@my_org.com
authorizer: DefaultAuthorizer

message_handler_map:
  logs: LogMessageHandler

rabbitmq:
  host: localhost
  port: 5672
  queue_name: logs
  deferred_time: 1800000
  exchange_name: exchange
  user: my_user
  password: P4ssWord

database:
  adapter: mysql2
  encoding: utf8
  host: localhost
  port: 3306
  database: my_db
  username: my_user
  password: my_P4ssWord